#content {
    text-align: center;
}

#content h2 {
    font-size: 40px;
    font-weight: bold;
    margin-top: 40px;
}

#content p {
    font-size: 24px;
}

#content ul {
    line-height: 1.8;
    text-align: start;
    width: fit-content;
    margin: 20px auto;
    font-size: 24px;
}

#content li {
    list-style-type: disc;
}